.menu-nav li {
    font-size: 1.1em;
}

.menu-nav li div.actions {
    top: 0;
    right: 0;
    float: right;
    position: absolute;
    font-size: 13px;
    margin-top: 10px;
    display: none;
}

.menu-nav li:hover div.actions {
    display: block;
}

.menu-box {
    position: relative;
}

.menu-box .menu-list {
    position: relative;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    width: 60px;
    top: 68px;
    padding-bottom: 68px;
    height: 100%;
    z-index: 1;
    cursor: move;
}

.menu-box .menu-list:first-child {
    top: 0;
    padding-bottom: 0;
}

.menu-box > .menu-list {
    margin-left: 0px;
}

.menu-box .menu-list .menu-link {
    position: relative;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
    top: 0px;
    max-height: 100% !important;
    width: 100%;
    background: #f6f6f6;
    z-index: -1;
}

.menu-box .menu-list .menu-link > div {
    position: absolute;
    margin: 0;
    padding: 7px 0 4px 10px;
    height: 44px;
    width: 400px;
    background-color:#fff;
    border:1px solid #bbb;
    border-left: 3px solid #36517b;
    border-left-width: 4px;
    display:inline-block;
    cursor:pointer;
    color:#333;
    text-decoration:none;
    line-height:14px;
}

.menu-box .menu-list .menu-link > div span.url {
    font-size: 0.9em;
}

.menu-box .menu-list .menu-link > div div.actions {
    float: right;
    text-align: right;
    padding: 0 10px;
    font-size: 0.9em;
    display: none;
}

.menu-box .menu-list .menu-link > div:hover div.actions {
    display: block;
}

.menu-box .menu-list .menu-link > div div.actions a{
    display: block;
}